<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<style>
		.jumbotron {
			width: 400px;
			text-align: center;
			margin: 10px auto 0;
			padding: 20px;
		}
		.table {
			text-align: left;
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
	</style>

	<script src="lib/angular/angular.min.js"></script>
	<script>
		angular.module("listaTelefonica", []);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
			$scope.app = "Lista Telefonica";
			$scope.contatos = [
				{nome: "pedro", telefone: "25293014"},
				{nome: "ana", telefone: "25210211"}
			];
			$scope.operadoras = [
				{nome: "Oi", codigo: 14},
				{nome: "Vivo", codigo: 15},
				{nome: "Tim", codigo: 41}
			];
			$scope.adicionarContato = function(contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
			}
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">

	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table class="table table-striped">
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
				<th>operadora</th>
			</tr>
			<tr ng-repeat="contato in contatos">
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
			</tr>
		</table>
		<input type="text" class="form-control" ng-model="contato.nome">
		<input type="text" class="form-control" ng-model="contato.telefone">
		<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
			<option value="">Selecione uma operadora</option>
		</select>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>

	</div>

</body>
</html>